{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "src": "./src"
                }
            }
        ],
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ]
    ]
}
