{
    "presets": [
        "next/babel"
    ],
    "plugins": [
		[
            "import",
            {
				"libraryName": "antd",
                "style": true
            }
        ]
	],
	"ignore": ["node_modules"]
}
