
#app-container,
#root {
	height: 100%;
}

body {
	overflow-x: hidden;
	// background-color: #e5ecf4;
}

html {
	scroll-behavior: smooth;
}

img {
	max-width: 100%;
}

/* width */
::-webkit-scrollbar {
	height: 5px;              /* height of horizontal scrollbar ← You're missing this */
	width: 4px;               /* width of vertical scrollbar */
	// border: 1px solid #e8e8e8;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-track:hover {
	background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(204, 204, 204);
	border-radius: 3px;
	border: 3px solid transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(155, 155, 155);
	border: 2px solid transparent;
}


/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: @primary-color;

	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;

	width: 100%;
	height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px @primary-color, 0 0 5px @primary-color;
	opacity: 1;

	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1031;
	top: 15px;
	right: 15px;
}

#nprogress .spinner-icon {
	width: 18px;
	height: 18px;
	box-sizing: border-box;

	border: solid 2px transparent;
	border-top-color: @primary-color;
	border-left-color: @primary-color;
	border-radius: 50%;

	-webkit-animation: nprogress-spinner 400ms linear infinite;
	animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}

@-webkit-keyframes nprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

// .ant-form-item-with-help {
//     margin-bottom: 5px !important;
// }

// // .ant-form-item-control:not(.has-error) {
// // 	line-height: inherit !important;
// // }

// .ant-menu-dark.ant-menu-inline .ant-menu-item,
// .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
// 	margin-bottom: 0;
// 	margin-top: 0;
// 	height: 48px;
//     line-height: 48px;
// }

// .ant-card {
// 	box-shadow: 1px 1px 2px 0px rgba(60, 75, 100, 0.04) !important;
// }

// .site-collapse-custom-collapse {
// 	background: transparent !important;
// 	border: 0 !important;
// }

// .site-collapse-custom-collapse .site-collapse-custom-panel {
// 	background-color: #e6f7ff !important;
//     border: 1px solid #91d5ff !important;
// 	border-radius: 2px !important;
// 	margin-bottom: 24px !important;
// 	overflow: hidden !important;
// }

// .ant-divider-horizontal {
// 	margin: 15px 0;
// }

// .ant-statistic-content {
// 	font-size: 18px !important;
//     font-weight: 500 !important;
// }

// .ant-statistic-title {
// 	color: rgba(0, 0, 0, 0.74) !important;
// }

.Resizer {
	background: #000;
	opacity: 0.2;
	z-index: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
  }

  .Resizer:hover {
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
  }

  .Resizer.horizontal {
	height: 11px;
	margin: -5px 0;
	border-top: 5px solid rgba(255, 255, 255, 0);
	border-bottom: 5px solid rgba(255, 255, 255, 0);
	cursor: row-resize;
	width: 100%;
  }

  .Resizer.horizontal:hover {
	border-top: 5px solid rgba(0, 0, 0, 0.5);
	border-bottom: 5px solid rgba(0, 0, 0, 0.5);
  }

  .Resizer.vertical {
	width: 11px;
	margin: 0 -5px;
	border-left: 5px solid rgba(255, 255, 255, 0);
	border-right: 5px solid rgba(255, 255, 255, 0);
	cursor: col-resize;
  }

  .Resizer.vertical:hover {
	border-left: 5px solid rgba(0, 0, 0, 0.5);
	border-right: 5px solid rgba(0, 0, 0, 0.5);
  }
  .Resizer.disabled {
	cursor: not-allowed;
  }
  .Resizer.disabled:hover {
	border-color: transparent;
  }

  .Pane {
	  height: 100%;
  }

  .ant-checkbox-inner {
	  border-radius: 0 !important;
  }

  .modal-custom {
	.ant-modal-body {
		padding: 20px;

		.ant-modal-confirm-btns {
			float: none;
			text-align: center;
		}
	}
  }

  .custom-desc {
	  p {
		  margin-bottom: 0;
		  display: inline;
		  white-space: pre-line;
	  }

	  p:empty{
		height: 1em;
		display: block;
	  }
  }

  .radio-custom {
	align-items: flex-start !important;
    height: auto !important;
	line-height: unset !important;
	display: flex !important;
	margin-bottom: 7px;

	.ant-radio {
		margin-top: 3px;
	}

	.ant-checkbox {
		margin-top: 5px;
	}

	.custom-desc {
		white-space: pre-line;
	}
  }
